name: Build NixOS image

on:
  workflow_dispatch:
    inputs:
      host:
        description: 'Hostname of the target machine'
        required: true
      version:
        description: 'Semver version to build'
        required: true

jobs:
  build-publish:
    runs-on: nixos
    steps:
      - name: Build NixOS image
        run: |
          nixos-rebuild build-image --image-variant qemu --flake .#${{ github.event.inputs.host }}
      - name: Copy image to target
        run: |
          cp ./result/nixos.qcow2 /mnt/truenas/imports/nixos-${{ github.event.inputs.host }}-${{ github.event.inputs.version }}.qcow2